.contact-section {
    @include background-img(cover, no-repeat, center);

    .contact-form {
        .form-group {
            input {
                height: 50px;
            }
        }

        button[type=submit] {
            @include page-btn(transparent, $white);
            border: 1px solid $white;

            &:hover {
                @include page-btn($white, $black);
                border: 1px solid $white;
            }
        }
    }
}

.footer {
    background-color: #1c1b2d;
    @include common-padding(60px, 60px);
    @include md-max{
        @include common-padding(30px, 30px);
    }
    color: $white;

    .footer-menu {

        .footer-paragh {
            padding-right: 70px;

            @include md-max {
                padding-right: 0px;
            }

            p {
                color: $gray-light;
            }
        }

        .footer-heading {
            h3{
                @include md-max{
                    font-size: 20px;
                }
            }
        }

        .fooer-ul {
            list-style: none;

            li {
                a {
                    color: $white;
                    background-image: none;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.footer-button {
    @include common-padding(30px, 30px);

    .social-media {
        ul {
            @include flexbox;
            list-style: none;
            @include justify-content(center);

            li {
                margin-right: 5px;

                &:last-child {
                    margin-right: 0px;
                }

                a {
                    width: 25px;
                    height: 25px;
                    background-color: $heading-color;
                    color: $white;
                    @include flexbox;
                    @include justify-content(center);
                    @include align-items(center);
                    background-image: none;
                    font-size: 15px;
                    @include border-radius(50px);

                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
}