.section {
    @include common-padding(110px, 120px);

    @include md-max {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

.divider {
    @include divider;


}

.heading {
    .heading-text {
        position: relative;
        @include display-position(relative);
        @include display(inline-block);

        &::before {
            @include divider;

        }
    }
}

.gray-bg {
    background: $gray-light;
}
.container{
    @include md-max{
        max-width: 90%;
        width: 90%;
    }
}