@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');


body,
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6,
p,
li,
a {
   
    font-family: 'Raleway', sans-serif;
}

.h1,
h1 {
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 10px;

    @include md-max {
        font-size: 40px;
    }



}

.h2,
h2 {
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;

    @include md-max {
        font-size: 35px;
    }

}

.h3,
h3 {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;

    @include md-max {
        font-size: 28px;
    }

}

.h4,
h4 {
    font-size: 25px;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;

    @include md-max {
        font-size: 22px;
    }
}

.h5,
h5 {
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;

    @include md-max {
        font-size: 20px;
    }

}

.h6,
h6 {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;


}

p,
li,
a {
    font-size: 17px;
    line-height: 1.6em;
    font-weight: 400;

    @include md-max {
        font-size: 16px;
    }
}