a {
    color: $blue-color;
    text-decoration: none;
    @include transition(all, 0.5s, ease-in-out);

    &:hover {
        color: $sky-color;
        @include transition(all, 0.5s, ease-in-out);
    }

}

.a-light {
    color: $white;
    text-decoration: none;
    @include transition(all, 0.5s, ease-in-out);

    &:hover {
        color: $sky-color;
        @include transition(all, 0.5s, ease-in-out);
    }
}




.common-padding {
    @include common-padding(80px, 80px);

    @include xxl-min {
        @include common-padding(110px, 110px);
    }

    @include md-max {
        @include common-padding(50px, 50px);
    }
}


.dashboard-left::-webkit-scrollbar-track,
.dashboard-right::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #f7f7f7;
}

.dashboard-left::-webkit-scrollbar,
.dashboard-right::-webkit-scrollbar {
    width: 10px;
    background-color: #f7f7f7;
}

.dashboard-left::-webkit-scrollbar-thumb,
.dashboard-right::-webkit-scrollbar {
    background-color: #f7f7f7;
    border: 2px solid $white;
}

.light-sky1 {
    color: #5D748A;
}

.brt-0 {
    border-radius: 0 0 20px 20px !important;
}

.brb-0 {}