/*  BANNER  */

.banner {
    @include background-img(cover, no-repeat, center);
    @include display-position(relative);
    z-index: 1;
    padding: 100px 0 130px;

    @include md-max {
        padding: 50px 0 130px;
    }

    &::before {
        @include display-position(absolute);
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        z-index: -1;
        opacity: .98;
    }

    .swiper {
        width: 100%;
        height: 100%;


        .swiper-slide {
            /* Center slide text vertically */
            @include flexbox;
            @include justify-content(center);
            @include align-content(center);


            .banner-content {
                max-width: 500px;
                margin-left: 120px;

                @include lg-max {
                    margin-left: 84px;
                }

                @include md-max {
                    margin-left: 35px;
                }

                @include sm-max {
                    max-width: 90%;
                    margin-left: 0;
                    margin: 0 auto;
                    text-align: center;
                }

                h1 {
                    color: $white;
                    font-size: 46px;
                    text-transform: uppercase;

                    @include md-max {
                        font-size: 40px;
                    }

                    .big-heading {
                        color: $green-color;
                        font-size: 74px;
                        display: block;
                        text-transform: uppercase;
                        margin-bottom: 15px;

                        @include md-max {
                            font-size: 50px;
                            margin-bottom: 5px;
                        }
                    }
                }

                p {
                    @include font-weight(500);
                    margin-bottom: 30px;

                }

                .banner-btn {
                    display: flex;
                    z-index: 5;

                    @include sm-max {
                        @include justify-content(center);
                        margin-bottom: 50px;
                    }
                    @include rwd-max(575) {
                        @include flex-flow(column);
                    }

                    .page-btn:first-child {
                        @include page-btn($white, $text-color);
                        margin-right: 10px;
                        font-weight: 600;
                        @include border-radius(0px);

                        @include md-max {
                            padding-left: 30px;
                            padding-right: 30px;
                        }
                        @include rwd-max(575) {
                            margin-right: 0px;
                            margin-bottom: 10px;
                        }

                        &:hover {
                            @include page-btn($green-color, $text-color);
                            @include border-radius(0px);
                        }
                    }

                    .page-btn:last-child {
                        @include page-btn($text-color, $white);
                        font-weight: 600;
                        @include border-radius(0px);

                        @include md-max {
                            padding-left: 30px;
                            padding-right: 30px;
                        }

                        &:hover {
                            @include page-btn($green-color, $text-color);
                            @include border-radius(0px);
                        }
                    }
                }
            }

            .banner-image {
                @include sm-max {
                    max-width: 500px;
                    margin: 0 auto;
                }
            }
        }

    }

    .swiper-button-next,
    .swiper-button-prev {
        @include display-position(absolute);
        top: 88%;
        @include border-radius(50%);
        width: 50px;
        height: 50px;

        @include lg-max {
            top: 73%;
        }

        @include sm-max {
            top: 88%;
            width: 30px;
            height: 30px;
        }

        &::after {
            font-size: 15px;
        }
    }

    .swiper-button-prev {
        left: 86%;
        background: $text-color;

        &::after {
            color: $white;
        }

        @include lg-max {
            left: 84%;
        }

        @include md-max {
            left: 82%;
        }

        @include sm-max {
            left: 84%;
          
        }
        @include rwd-max(575) {
            left: 75%;
          
        }

    }

    .swiper-button-next {
        right: 5%;

        background: $white;

        &::after {
            color: $text-color;
        }
    }
}