/* FOOTER */

.footer {
    background-color: $dark-bule;
    @include common-padding(70px, 25px);

    .container {



        .top-footer {
            max-width: 900px;
            margin: 0 auto;

            ul {
                @include flexbox;
                @include justify-content(space-between);
                list-style: none;
                padding-left: 0;
                @include align-items(center);
                @include md-max {
                    @include flex-wrap(wrap);
                 }

                li {
                    color: $white;

                    .heading {
                        .heading-text {
                            &::before {
                                background-color: $white;
                            }
                        }
                    }

                    .footer-top-heading {
                        @include flexbox;
                        @include align-items(center);
                        font-family: 'Poppins', sans-serif;
                        font-size: 16px;

                        span {
                            margin-right: 15px;

                            i {
                                font-size: 22px;

                            }

                            &.map-icon {
                                color: $green-color;
                            }

                            &.phone-icon {
                                @include transform(rotate(-60deg));
                            }
                        }

                        a {
                            color: $white;
                            background-image: none;
                            font-family: 'Poppins', sans-serif;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .center-footer {
            max-width: 900px;
            margin: 0 auto;

            .footer-form {
                margin-top: 11px;

                form {
                    .form-group {
                        margin-bottom: 20px;

                        input {
                            background: transparent;
                            border: none;
                            border-bottom: 1px solid #61636f;
                            color: $white;
                            text-transform: uppercase;
                            font-size: 14px;
                            @include border-radius(0);

                            ::-webkit-input-placeholder {
                                /* Edge */
                                color: #717471;
                                text-transform: uppercase;
                                font-size: 14px;
                            }

                            :-ms-input-placeholder {
                                /* Internet Explorer 10-11 */
                                color: #717471;
                                text-transform: uppercase;
                                font-size: 14px;
                            }

                            ::placeholder {
                                color: #717471;
                                text-transform: uppercase;
                                font-size: 14px;
                            }
                        }

                        textarea {
                            background: transparent;
                            border: none;
                            border-bottom: 1px solid #61636f;
                            color: $white;
                            text-transform: uppercase;
                            font-size: 14px;
                            @include border-radius(0);

                            ::-webkit-input-placeholder {
                                /* Edge */
                                color: #717471;
                                text-transform: uppercase;
                                font-size: 14px;
                            }

                            :-ms-input-placeholder {
                                /* Internet Explorer 10-11 */
                                color: #717471;
                                text-transform: uppercase;
                                font-size: 14px;
                            }

                            ::placeholder {
                                color: #717471;
                                text-transform: uppercase;
                                font-size: 14px;
                            }
                        }
                    }

                    button[type=submit] {
                        @include border-radius(0);
                    }
                }
            }

            .bottom-footer {
                @include flexbox;
                @include align-items(flex-end);

                @include sm-max {
                    @include flex-flow(column-reverse);
                    @include align-items(center);
                }

                .bottom-footer-sccial-media {
                    margin-left: -160px;

                    @include sm-max {
                        margin-left: 0px;
                    }

                    ul {
                        @include flexbox;
                        list-style: none;

                       

                        li {
                            margin-right: 10px;

                            a {
                                background-color: $white;
                                color: $text-color;
                                width: 30px;
                                height: 30px;
                                @include border-radius(50px);
                                @include flexbox;
                                @include justify-content(center);
                                @include align-items(center);

                                &:hover {
                                    background-color: $green-color;
                                    color: $text-color;
                                }
                            }
                        }
                    }
                }

                .footer-news-letter {
                    margin-left: 16px;
                    width: 100%;

                    @include sm-max {
                        margin-left: 0px;
                        margin-bottom: 25px;
                    }

                    &>p {
                        color: $white;
                        font-weight: 600;
                        line-height: 26px;
                        margin-bottom: 10px;
                    }

                    .input-group {
                        input {
                            @include border-radius(0);
                            border: 0;
                            height: 45px;
                            color: $text-color;
                            text-transform: uppercase;
                            font-size: 14px;

                            ::-webkit-input-placeholder {
                                /* Edge */
                                color: #717471;
                                text-transform: uppercase;
                                font-size: 14px;
                            }

                            :-ms-input-placeholder {
                                /* Internet Explorer 10-11 */
                                color: #717471;
                                text-transform: uppercase;
                                font-size: 14px;
                            }

                            ::placeholder {
                                color: #717471;
                                text-transform: uppercase;
                                font-size: 14px;
                            }

                        }

                        & [type=button] {
                            @include border-radius(0);
                            background-color: $green-color;
                            color: $text-color;
                            border: 0;
                            font-size: 15px;
                            text-transform: uppercase;
                            height: 100%;
                            padding: 5px 25px;
                        }
                    }
                }
            }
        }

        .copy-right-footer {
            max-width: 900px;
            margin: 0 auto;
            margin-top: 70px;
            padding-top: 25px;
            border-top: 1px solid #61636f;

            @include sm-max {
                margin-top: 40px;
            }

            p {
                color: $white;
                opacity: .5;
                font-size: 16px;
            }
        }
    }

}