.process-view-edit {
    .dash-page-heading {
        @include sm-max {
            ul {
                @include flex-flow(column);

                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}


.HTMLContainer {
    width: 100%;
    min-height: 300px;
    border: dashed 2px #d8e3fa;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.bbb {
    @include md-max {
        @include flex-flow(column);

        a {
            margin-bottom: 10px;
        }
    }
}


.dash-header-video {
    padding: 15px 0;

    .logo {
        width: 200px;
    }

    .heading-name {
        ul {
            justify-content: flex-end;
            align-items: center;

            li {
                @include flexbox;
                @include flex-flow(column);

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.video-call {
    padding: 70px 0;

    .p-6 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .confirmation {
        padding: 30px 15px;
        margin-bottom: 14px;
        font-size: 15px;

        strong {
            font-size: 15px;
        }
    }

    .video-call-left {
        position: relative;
    }
}

.h-100vh {
    height: 100vh;
}

.m-img-video {
    position: absolute;
    right: -100px;
    bottom: 0;
    width: 200px;
}