$primary-color: #413748;
$black: #000;
$white:#FFF;
$gray-light: #F8F8F8;
$blue-color: #7621C4;
$blue-color1: #4C476B;
$blue-light: #81738D;

$sky-color: #49BCCD;
$sky-light: #E4FDFF;
$text-color: #1C1C1C;
$text-light: #8C8C8C;
$text-color2: #82808F;
$green-color: #A5D137;
